
body {
    background-image: url("../images/White-Marble.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    border-bottom: 2px solid grey;
}


.name {
    background-color: #83b5a8;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    color: white!important;
    width: 200px;
    margin-top: 10px;
    margin-left: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: -8px;
} 


.container-style {
    width: 70%;
    margin-top: 40px;
    margin-bottom: 150px;
    background-color: white;
    padding: 25px;
}


.h1-style {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #83b5a8;
    font-size: 35px;
}

hr {
    height: 1px;
    background: gray;
    margin-bottom: 15px;
}

#image {
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer-css {
    width: 100%;
    background-color: grey;
    bottom: 0;
    height: 50px;
    position: fixed;
    border-top: 8px solid #83b5a8; 
}